<%= form_with model: @post, local: true, html: {class: 'my-4'} do |f| %>
<div class="form-group">
  <%= f.text_area :body, placeholder: "Enter your blab", class: "form-control", rows: 3 %>
</div>

<div class="actions">
  <%= f.submit class: "btn btn-primary" %>
</div>
<% end %>